html {
    font-size: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background: #9d9ea0;
    color: #1b1b32;
    margin: 0;
}

#main {
    margin: 0;
}

.title {
    margin: 0;
    color: #f5f6f7;
    background-color: #1b1b32;
    margin: 0 auto;
    padding: 20px;
}

#title {
    font-family: 'Ubuntu', serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

#title-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#img-div {
    background-color: #0a2f29;
    width: 702px;
    height: 480px;
    margin: 0 auto;
}

#image {
    display: block;
    margin: auto;
    max-width: 100%;
}

#img-caption {
    font-size: 0.9rem;
    color:  #f5f6f7;
    word-spacing: 1px;
    font-weight: 900;
}

.life-events {
    width: 702px;
    margin: 100px auto 0;
    font-family: "Ubuntu";
    background-color: #f5f6f7;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 1px 5px; */
    border-radius: 5px;
}

.life-events p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: justify;
    word-spacing: 1px;
    vertical-align: middle;
    line-height: 1.5;
    padding: 0 5px;
}

h2 {
    margin: 0;
    padding: 0 5px;
}

#hr {
    margin: 0;
    padding: 0 6px;
}

#tribute-info {
    width: 702px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: justify;
    margin: 10px auto;
    padding: 10px 5px;
    border: 1px solid #fff;
    border-radius: 5px;;
}

.career {
    margin: 0;
}

.tribute-info {
    margin: 0;
    vertical-align: middle;
    line-height: 1.5;
}